{% extends "header.html" %}
{% load static %}
{% block title %}Rating{% endblock %}

{% block content %}
<div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="row text-center" style="margin-top: 5%;">
        <div class="col-md-12">
            <h3>Hasil Rating</h3>
        </div>
        <button type="button" id="showEdit" class="btn mt-4" style="background-color: #6FCF97;color: white">Edit</button>
        <button type="button" id="closeEdit" class="btn mt-4" style="background-color: #6FCF97;margin-left: 5px;color: white">Close</button>
        <button type="button" id="showAllRating" class="btn mt-4" style="background-color: #6FCF97;margin-left: 5px;color: white">Lihat Semua Rating </button>
        <a href="/rating/ratingwebkami/"><button type="submit" class="btn mt-4" style="background-color: #6FCF97;color: white;margin-left: 5px">Beri Rating</button></a>
    </div>
    <input class="form-control mt-4" id="searchrating" type="text" placeholder="Masukkan nilai rating yang ingin dicari..." required>
    <div class="row mt-4">
        <div class="col-md-12">
          {% if info_rating %}
            <div class="card" style="width:100%;">
                <ul class="list-group list-group-flush akun_rating">
                {% for rating in info_rating %}
                  <li class="list-group-item">
                    <p>User : <b>{{ rating.username }}</b></p>
                    <p>Rating : <b>{{ rating.rating }}</b></p>
                  </li>
                    
                {% endfor %}
                </ul>
              </div>
            {% else %}
            <h5 class="text-center">Feedback Rating Belum Tersedia !!</h5>
            {% endif %}
            {% if user.is_authenticated %}
                    <div class="editRating" style="margin-top: 30px">
                        <center>
                            <h5>Edit Rating</h5>
                            <p><strong>Rating yang diedit sesuai dengan akun yang anda login sekarang!</strong></p>
                            <p>Akun anda sekarang : {{ user.get_username }}
                       <form method="POST" action='/rating/editrating/'>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                        <label class="form-check-label" for="inlineRadio3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
                                        <label class="form-check-label" for="inlineRadio4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5" checked>
                                        <label class="form-check-label" for="inlineRadio5">5</label>
                                    </div>
                                      
                                </div>
                            </div>
                                <button type="submit" class="btn" style="background-color: #6FCF97;color: white;margin-bottom: 20px">Edit Rating</button>
                        </form>
                        </center>
                  </div>
                  {% else %}
                  <div class="editRating alert alert-warning">
                      <center><p>Fitur edit tidak bisa diakses anda harus login dahulu</p></center>
                  </div>
                  {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.editRating').hide();
        $('#showEdit').click(function(){
            $('.editRating').show();
        });
        $('#closeEdit').click(function(){
            $('.editRating').hide();
        });

    });
</script>
<script>
    $(document).ready(function(){
        $('#searchrating').keyup(function(){
            var searchinput = $('#searchrating').val();
            $.ajax({
                url : 'akun/?format=json',
                success : function(akun){
                    var rating = akun;
                    $('.akun_rating').empty();
                    for (i = 0; i < rating.length; i++){
                        var nilai_rating = rating[i].rating;
                        if (searchinput == nilai_rating) {
                            $('ul.akun_rating').append('<li class="list-group-item"><p>User : <b>' + rating[i].username + '</b></p><p>Rating : <b>' + nilai_rating + '</b></p></li>');
                        }
                    }
                }  
            });
        });
    });

</script>
<script>
    $(document).ready(function(){
        $('#showAllRating').click(function(){
            $.ajax({
                url : 'akun/?format=json',
                success : function(akun) {
                    var rating = akun;
                    $('ul.akun_rating').empty();
                    for (i = 0; i < rating.length; i++) {
                        var nilai_rating = rating[i].rating;
                        var count_list_items = $('ul.akun_rating').children().length;
                        if (count_list_items < rating.length) {
                            $('ul.akun_rating').append('<li class="list-group-item"><p>User : <b>' + rating[i].username + '</b></p><p>Rating : <b>' + nilai_rating + '</b></p></li>');
                        }    
                    }
                }
            })
        });
    });
    

</script>
{% endblock %}


