{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="h-100">
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body class="h-100 d-flex align-items-center" style="background-color: #6FCF97;">
        <div class="container">
            <center><h2 class="text-light">You have to login first inorder to have access the feature</h2></center>
            <div class="row">

                <div class="col-sm-6 col-md-4 mx-auto bg-light p-4" style="margin-top: 40px">
                    <form method="POST">
                    {% csrf_token %}
                    <h2 class="text-center text-info pb-3 mb-3 border-bottom">C19 Simulation</h2>
                    {{ form|crispy }}
                    <input class="btn btn-info btn-lg btn-block" style="margin-top:20px;background-color: #6FCF97" type="submit" value="Login">
                    <p style="margin-top: 20px;">No account ? <a href="/signup/">Sign up here</a></p>
                    </form>
                </div>
                
            </div>
        </div>

       
        <script>
            function myfunction() {
                var x = document.getElementById("mypassword");
                if (x.type === "password"){
                    x.type = "text";
                }else{
                    x.type = "password";
                }
            }
        </script>

    </body>
</html>
