.containerpair {  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 400px); 
    grid-gap: 100px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

div.circle {
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 36px;
    color: white;
    text-align: center;
}

div.a {
    max-width: 500px;
    height: 100px;
    font-size: 20px;
}

select {
    width: 150px;
    padding: 8px;
}