{% extends 'header.html' %}
{% load static %}

{% block title %}C19 Simulation{% endblock title %}

{% block content %}
<div class = "container">
  {% if user.is_authenticated %}
  <div class="alert alert-success mt-4 messages">
      <h3>Welcome, {{ user.get_username }}</h3>
  </div>
  {% else %}
  {% endif %}
  <div class = "row justify-content-around" style = "padding:50px; padding-top:100px">
    <div class = "col-md-4" style = "padding:20px">
      <img src="{% static 'h3.png' %}"  id = "img1">
    </div>
    <div class = "col-md-8">
      <h1 class = "title1">C-19 Simulation</h1>
      <p>Web ini akan membantu kalian dalam bersimulasi untuk menjadi pengurus daerah X dari COVID-19 dengan asumsi seluruh penduduk
        awalnya berstatus negatif</p>
      <p style = "padding:20px"><a href = "simulasi/jumlah/" class = "btn button">>> Mulai simulasi >> </a></p>
    </div>
  </div>
  <div class = "row justify-content-around" style = "padding:50px;">
    <h2 class = "title1 align-self-center">Sekilas tentang Covid-19</h2>
    <div class = "col-md-8" style = "padding:20px">
      <p>Covid-19 adalah virus yang bisa menular dengan cepat sehingga dapat dibilang sebagai
        virus yang mematikan. COVID-19 atau Corona beredar di Indonesia sejak Maret 2019 yang lalu</p>
      <p>Menurut survey, sebagian besar (sekitar 80%) orang yang terinfeksi telah berhasil pulih 
        tanpa perlu perawatan khusus, dan sekitar 1 dari 5 orang yang terinfeksi COVID-19 
        menderita sakit parah dan kesulitan bernapas.</p>
    </div>
    <div class = "col-md-4" style = "padding:20px">
      <img src="{% static 'h2.png' %}"  id = "img2">
    </div>
  </div>
  <h3 class = "title1" style="padding-left:50px; padding-top:30px; padding-bottom:20px; 
    ">Data korban Covid-19 di Indonesia</h3>
  <div class = "row d-flex justify-content-around text-center" style = "padding-left:50px;padding-right: 50px" >
    <div class = "col-md-4">
      <p>Total Kasus :</p>
      <p>488 rb</p>
    </div>
    <div class = "col-md-4">
      <p>Total Sembuh :</p>
      <p>411 rb</p>
    </div>
    <div class = "col-md-4">
      <p>Total Meninggal Dunia :</p>
      <p>15,6 rb</p>
    </div>
  </div>
  <center>
  <br><small>Terakhir update tanggal : 21/11/2020</small><br><br>
  </center>
  <div style = "padding:50px">
    <h2 class = "title1 text-right"> Sekilas tentang Aplikasi </h2>
    <div class = "row d-flex justify-content-around">
      <div class ="col-md-4">
        <img src = "{% static 'h4.png' %}" id = "img1">
      </div>
      <div class = "col-md-8">
        <p class = "text-right">Mula-mula semua warga desa X tidak ada yang terinfeksi COVID-19, sehingga untuk menghindari 
          penularan COVID 19 yang bisa meresahkan warga sekitar, kita sebagai pengurus warga harus 
          mendata semua warga baru/pengunjung baik itu nama, jenis kelamin, usia, alamat dimana 
          dia akan tinggal di daerah X, serta status COVID-19 apakah dia terinfeksi atau tidak.</p>
        <p class = "text-right">Lalu apabila dia positif, maka kamu diwajibkan untuk mengarantina dia supaya warga desa 
          tidak ada yang terinfeksi. Orang tersebut juga nantinya bisa disembuhkan atau dibiarkan. 
          Dan terakhir akan dihitung persentase warga daerah X yang terkena positif COVID-19, 
          termasuk warga baru/pengunjung.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      $(".messages").click(function(){
        $(".messages").fadeOut();
      });
    });
</script>
{% endblock content %}
